<template name="drinks">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Spiel</th>
                <th>Genre</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </td>
            </tr>
        </tbody>
    </table>

</template>
