<template name="drinks">
    <p class="lead">
        <button class="btn btn-lg btn-default" data-toggle="modal" data-target="#myDrinkModal">Getränk hinzufügen</button>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Getränk</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {{#each drinks}}
            <tr>
                <td>{{drink}}</td>
                <td><button id="delete" type="button" class="btn btn-xs btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;
                </button>
            </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{> newDrink}}

</template>
