<template name="games">
    <p class="lead">
        <button class="btn btn-lg btn-default" data-toggle="modal" data-target="#myGameModal">Spiel hinzufügen</button>
    </p>
<table class="table">
    <thead>
      <tr>
        <th>Spiel</th>
        <th>Genre</th>
        <th>#Gespielt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
  {{> newGame}}

  </template>
