<template name="newGame">
    <div class="modal fade" id="myGameModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Neues Spiel hinzufügen</h4>
                </div>
                <form class="form-horizontal" role="form">

                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="gameTitle">Spiel:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="gameTitle" placeholder="Titel">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="genreSelect">Genre:</label>
                            <div class="col-sm-10">

                                <select class="form-control" id="genreSelect">
                                    <option selected disabled></option>
                                    <option>Autorennen</option>
                                    <option>Strategie</option>
                                    <option>Shooter</option>
                                    <option>Sonstiges</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                        <button type="button" class="btn btn-primary">Spiel hinzufügen</button>
                    </div>
                </form>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>
