<template name="newPlayer">
    <div class="modal fade" id="myPlayerModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Neuen Barkeeper hinzufügen</h4>
                </div>
                <form id="playersForm" class="form-horizontal" role="form">

                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="barkeeper">Barkeeper:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" id="barkeeper" placeholder="Name" required>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                        <button id="addPlayer" type="submit" class="btn btn-primary">Barkeeper hinzufügen</button>
                    </div>
                </form>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>
