<template name="player">
    <p class="lead">
        <button class="btn btn-lg btn-default" data-toggle="modal" data-target="#myPlayerModal">Barkeeper hinzufügen</button>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th># Barkeeper</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {{#each players}}
            <tr>
                <td>{{name}}</td>
                <td>{{keptBar}}</td>
                <td><button type="button" id="delete" class="btn btn-xs btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;
                </button>
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>
{{> newPlayer}}

</template>
